# EditorConfig: https://EditorConfig.org

[*]
charset = utf-8
# Type of newline is managed by git in .gitattributes
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# YAML does not allow tab indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2
